{% extends 'studentmainmenu.html' %}
{% block commom %}
<table class="table table-dark">
    <tr><th colspan="7" style="text-align: center;color: black;background-color: white">AVAILABLE COURSES</th></tr>
        <tr>
            <th>courseName</th>
            <th>Facultyname</th>
            <th>Stardate</th>
            <th>View full details</th>
            <th>Enroll</th>
{#            <th>Salary</th>#}
        </tr>
    {% for x in object_list %}
        <tr>
        <th>{{ x.coursename }}</th>
            <th>{{ x.facultyname }}</th>
            <th>{{ x.stardate }}</th>
            <form action="{% url 'fulldetails' x.idno %}">
                <th><button type="submit">Yes</button></th>
            </form>
             <form action="{% url 'enrollcourse'%}" method="get">
                 <input type="hidden" value="{{ x.idno }}" name="id">
                <th><button type="submit">Yes</button></th>
            </form>

        </tr>

    {% endfor %}

    </table>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert" style="text-align: center">
{{ message }}</div>
    {% endfor %}
    {% endif %}
{% endblock %}