{% extends 'adminmainmenu.html' %}
{% block commom %}
 <table class="table table-dark">
    <tr>
        <form action="{% url 'approve_students' %}">
                <th style="text-align: left;color: black;background-color: white" colspan="2"><button type="submit" class="btn btn-success">View Pending Users</button></th>
            </form>
        <th colspan="5" style="text-align: left;color: black;background-color: white">Approved students</th></tr>
        <tr>
            <th>StudentName</th>
            <th>ContactNumber</th>
            <th>Emailid</th>
            <th>status</th>
            <th>Approve</th>
            <th>Reject/Delete</th>
{#            <th>Salary</th>#}
        </tr>
    {% for x in object_list %}
        {% if x.status == "Active" %}
        <tr>
        <th>{{ x.name }}</th>
            <th>{{ x.contactnumber }}</th>
            <th>{{ x.emailid }}</th>
            <th>{{ x.status }}</th>
            <form action="{% url 'approve' %}" method="get">
                <input type="hidden" name="no" value="{{ x.idno }}">
                <th><button type="submit">Yes</button></th>
            </form>
            <form action="{% url 'Reject' %}" method="get">
                <input type="hidden" name="no" value="{{ x.idno }}">
                <th><button type="submit">Yes</button></th>
            </form>
{% endif %}

        </tr>
    {% endfor %}
    </table>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary" role="alert" style="text-align: center">
{{ message }}</div>
    {% endfor %}
    {% endif %}
{% endblock %}